<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<!--    инжект(конкатенация строк)-->
    <form th:action="@{/users}" method="post" enctype="multipart/form-data" th:object="${user}">
        <label for="username"> Username:
             <input id="username" type="text" name="userName" th:value="${user.userName}">
        </label>
        <label for="birthDate"> Username:
            <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
        </label>
        <label for="lastName"> Username:
            <input id="lastName" type="text" name="lastName" th:value="*{lastName}">
        </label>
        <label for="firstName"> Username:
            <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
        </label>
        <label for="image"> Image:
            <input id="image" type="file" name="image">
        </label>
        <div th:each="role:${roles}">
            <input th:id="${role}" type="radio" name="role" th:value="${role}"
             th:checked="${role==user.role}">
            <label th:for="${role}" th:text="${role}">Role name</label>
        </div>
        <div>
            <label for="company">Company:
            <select id="company" name="companyId">
                <option th:each="company : ${companies}"
                        th:value="${company.id()}"
                        th:selected="${company.id()==user.companyId}"
                        th:text="${company.name()}">Company</option>
            </select>
            </label>
        </div>
        <button type="submit">Register</button>
    </form>
<div th:if="${errors}">
    <p style="color: red" th:each="error: ${errors}" th:text="${error.defaultMessage}">Error message</p>

</div>

</body>
</html>