<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:insert="~{fragments :: header}"></div>
<form action="/users">
    <label for="firstName">firstName
    <input id="firstName" type="text" name="firstName" th:value="${filter.firsName()}">
    </label>
    <label for="lastName">lastName
        <input id="lastName" type="text" name="lastName" th:value="${filter.lastName()}">
    </label>
    <label for="birthDate">BirthDate
        <input id="birthDate" type="date" name="birthDate" th:value="${filter.birthDate()}">
    </label>
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${users.metadata.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${users.metadata.size}">
        </label>
    </div>
    <button type="submit">Filter</button>
</form>

<div th:each="user:${users.content}"> <!--    цикл-->
    <a th:href="@{'/users/'+${user.id}}" th:text="|${user.id}. ${user.userName}|">User</a>  <!--    ссылка-->
</div>
</body>
</html>